.project-overview {
  display: flex;    
  flex-direction: column;
  position: absolute;
  width: Fixed (1, 180px) px;
  height: Hug (1, 099px) px;
  top: 85px;
  left: 75px;
  gap: 25px;
  opacity: 0px;
  .project-header-container {
    display: flex;
    flex-direction: column;
    width: Fill (1180px) px;
    height: Hug (574px) px;
    gap: 25px;
    opacity: 0px;

    .Project-header {
      display: flex;
      width: Fill (1, 180px) px;
      height: Hug (44px) px;
      gap: 0px;
      align-items: center;
      justify-content: space-between;
      opacity: 0px;
      .project-title-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 296px;
        height: 44px;
        gap: 0px;
        border-radius: 8px 0px 0px 0px;
        opacity: 0px;
        font-family: Inter;
        font-size: 32px;
        font-weight: 500;
        line-height: 38.73px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(45, 68, 110, 1);
        .add-project {
          width: Hug (130px) px;
          height: Fixed (44px) px;
          left: 166px;
          padding: 10px 18px 10px 18px;
          gap: 8px;
          border-radius: 8px;
          border: 1px 0px 0px 0px;
          opacity: 0px;
          background: rgba(45, 68, 110, 1);
          box-shadow: 0px 1px 5px 0px rgba(45, 68, 110, 0.1);
          font-family: Inter;
          font-size: 16px;
          font-weight: 700;
          line-height: 19.36px;
          letter-spacing: 0.005em;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: rgba(230, 230, 230, 1);
        }
      }
      .right-toggle-section {
        display: flex;
        width: Hug (164.06px) px;
        height: Hug (20.06px) px;
        padding: 3.53px 0px 0px 0px;
        gap: 8.83px;
        opacity: 0px;
        color: rgba(138, 138, 138, 1);
        .toggle-section-isActive {
          color: rgba(22, 119, 255, 1);
        }
      }
      .all-project{
        display: flex;
        flex-direction: column;
        gap: 25px;
      }
    }
  }
}
