.project-section-kanban-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1180px;
  height: Hug (673px) px;
  padding: 20px 0px 0px 0px;
  gap: 20px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid rgba(241, 241, 241, 1);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);

  .project-kanban-container {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: Hug (633px) px;
    gap: 10px;
    border-radius: 8px;
    opacity: 0px;

    .status-bar {
      display: flex;
      width: 270px;
      height: Hug (23px) px;
      padding: 0px 4px 0px 0px;
      gap: 0px;
      justify-content: space-between;
      opacity: 0px;

      .Status {
        width: Hug (112px) px;
        height: Hug (23px) px;
        padding: 4px 12px 4px 12px;
        gap: 12px;
        border-radius: 8px;
        opacity: 0px;
        color: rgba(255, 255, 255, 1);
      }
      .not-started {
        background: rgba(176, 176, 176, 1);
      }
      .in-progress {
        background: rgba(74, 144, 226, 1);
      }
      .archived {
        background: rgba(96, 125, 139, 1);
      }
      .completed {
        background: rgba(76, 175, 80, 1);
      }
    }

    .project-ticket-container {
      display: flex;
      flex-direction: column;
      width: 270px;
      height: 565px;
      gap: 20px;
      opacity: 0px;
      overflow: hidden;

      .project-ticket {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-items: center;
        width: 270px;
        height: 175px;
        gap: 0px;
        border-radius: 8px;
        border: 0.5px;
        opacity: 0px;
        border: 0.5px solid rgba(241, 241, 241, 1);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);

        .project-name-div {
          padding: 10px;
          // border:2px solid black;
          display: flex;
          gap: 15px;
          width: 250px;
          height: Hug (24px) px;
          //styleName: Body1_Bold_Inter12;
          font-family: Inter;
          font-size: 12px;
          font-weight: 700;
          line-height: 14.52px;
          letter-spacing: 0.005em;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;

          //   gap: 0px;
          //   opacity: 0px;
          .Date {
            display: flex;
            align-items: start;
            justify-content: start;
            width: 250px;
            width: Hug (145px) px;
            height: Hug (15px) px;
            gap: 4px;
            opacity: 0px;
          }
        }
      }
    }
    .view-more {
      //styleName: Body1_Regular_Inter12_Normal_Text;
      font-family: Inter;
      font-size: 12px;
      font-weight: 400;
      line-height: 14.52px;
      letter-spacing: 0.0025em;
      //   text-align: left;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: rgba(22, 119, 255, 1);

      &:hover {
        color: rgba(64, 150, 255, 1);
      }
    }
  }
}
